# READING AND VIEWING DATA

### What does CSV mean?

CSV stands for **comma-separated values**.  
Normally, this means the data in the file is split up using commas.  

But it doesn’t always have to be commas — other symbols can also separate the data.  

A common example is **tab-separated values**, which are often saved with file types like:

- `.tsv`
- `.tab`
- `.csv`

In [7]:
# IMPORTS 
import pandas as pd

# READING THE DATA
data = pd.read_csv('datasets/tab_power_plant_database.csv')

# DISPLAYING THE FIRST 5 OF THE DATASET
data.head()

  country|plant_name|capacity_MW|primary_fuel|year_commissioned
0                      USA|Plant_1|2426|Nuclear|1960
1                         India|Plant_2|966|Gas|2015
2                      Canada|Plant_3|2580|Wind|1982
3                    Japan|Plant_4|2496|Biomass|1976
4                  Germany|Plant_5|2517|Biomass|2005

In [11]:
data = pd.read_csv('datasets/tab_power_plant_database.csv', sep='|')
#country|plant_name|capacity_MW|primary_fuel|year_commissioned

print(data.head())

       USA  Plant_1  2426  Nuclear  1960
0    India  Plant_2   966      Gas  2015
1   Canada  Plant_3  2580     Wind  1982
2    Japan  Plant_4  2496  Biomass  1976
3  Germany  Plant_5  2517  Biomass  2005
4   France  Plant_6   298     Coal  1990

In [15]:
column_name = ['country','plant_name','capacity_MW','primary_fuel','year_commissioned']
data = pd.read_csv('datasets/tab_power_plant_database.csv', sep='|', header=None, names=column_name)
print(data.head())

   country plant_name  capacity_MW primary_fuel  year_commissioned
0      USA    Plant_1         2426      Nuclear               1960
1    India    Plant_2          966          Gas               2015
2   Canada    Plant_3         2580         Wind               1982
3    Japan    Plant_4         2496      Biomass               1976
4  Germany    Plant_5         2517      Biomass               2005